{% extends 'base.html.twig' %}

{% block body %}

<h3>Les modèles {{product.getBrandName()}} que nous vous proposont : </h3>


<h4>La {{produt.getBrandName()}} {{product.getBrandModele}}, {{product.getBrandTitle}} !</h4>

{% endblock %}