{% extends 'base.html.twig' %}

{% block body %}

            {% for brand in brands %}
				<h4>La {{brand.getBrandName()}} {{brand.getBrandModel}}, {{brand.getBrandTitle}} <img src="{{brand.getBrandImage | raw }}"><button>En savoir plus</button></h4>
            {% endfor %}


{% endblock %}