{% extends 'base.html.twig' %}

{% block body %}

            {% for brand in brands %}
				<h4>La {{brand.getBrandName()}} {{brand.getBrandModel}}, {{brand.getBrandTitle}} <a href="/brands/{brandId}"<img src="{{brand.getBrandImage | raw }}"></a><a href="/brands/{brandId}"><button>En savoir plus</button></a></h4>
            {% endfor %}


{% endblock %}