{% extends 'base.html.twig' %}

{% block title %} Keman Racing{% endblock %}

{% block body %}

<h2>Nos circuits !</h2>

<section class="Cicruits">
	<article>
		<h2>Brands Hatch</h2>
		<div class="metadata">Quelque chose que je pourrais mettre ici</div>
		<div class="content">
			<a href="/Brands"><img src="/assets/img/circuits/Circuit_Brands_Hatch.png" alt="Hatch"></a>
			<p>Description du circuit</p>
			<a href="/Brands" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>

		<article>
		<h2>Cicuit Bugatti</h2>
		<div class="metadata">Quelque chose que je pourrais mettre ici</div>
		<div class="content">
			<a href="/Bugatti"><img src="/assets/img/circuits/Circuit_Bugatti.png" alt="Bugatti"></a>
			<p>Description du circuit</p>
			<a href="/Bugatti" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>

	<article>
		<h2>Circuit Charrade</h2>
		<div class="metadata">Quelque chose que je pourrais mettre ici</div>
		<div class="content">
			<a href="/Charrade"><img src="/assets/img/circuits/Circuit_Charrade.png" alt="Charrade"></a>
			<p>Description du circuit</p>
			<a href="/Charrade" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>

	<article>
		<h2>Circuit Dijon Prenois</h2>
		<div class="metadata">Quelque chose que je pourrais mettre ici</div>
		<div class="content">
			<a href="/Dijon"><img src="/assets/img/circuits/Circuit_Dijon-Prenois_Circuit.png" alt="Dijon Prenois"></a>
			<p>Description du circuit</p>
			<a href="/Dijon" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>

	<article>
		<h2>Circuit Donington</h2>
		<div class="metadata">Quelque chose que je pourrais mettre ici</div>
		<div class="content">
			<a href="/Donington"><img src="/assets/img/circuits/Circuit_Donington.png" alt="Donington"></a>
			<p>Description du circuit</p>
			<a href="/Donington" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>

	<article>
		<h2>Circuit Fiorano</h2>
		<div class="metadata">Quelque chose que je pourrais mettre ici</div>
		<div class="content">
			<a href="/Fiorano"><img src="/assets/img/circuits/Circuit_Fiorano.jpg" alt="Fiorano"></a>
			<p>Description du circuit</p>
			<a href="/Fiorano" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>

	<article>
		<h2>Circuit Hokenheimring</h2>
		<div class="metadata">Quelque chose que je pourrais mettre ici</div>
		<div class="content">
			<a href="/Hokenheimring"><img src="/assets/img/circuits/Circuit_Hokenheimring.png" alt="Hokenheimring"></a>
			<p>Description du circuit</p>
			<a href="/Hokenheimring" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>

	<article>
		<h2>Circuit Imola</h2>
		<div class="metadata">Quelque chose que je pourrais mettre ici</div>
		<div class="content">
			<a href="/Imola"><img src="/assets/img/circuits/Circuit_Imola.jpg" alt="Imola"></a>
			<p>Description du circuit</p>
			<a href="/Imola" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>

	<article>
		<h2>Circuit Magny Cours</h2>
		<div class="metadata">Quelque chose que je pourrais mettre ici</div>
		<div class="content">
			<a href="/Magny"><img src="/assets/img/circuits/Circuit_Magny_Cours.png" alt="Magny Cours"></a>
			<p>Description du circuit</p>
			<a href="/Magny" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>

	<article>
		<h2>Circuit Misano</h2>
		<div class="metadata">Quelque chose que je pourrais mettre ici</div>
		<div class="content">
			<a href="/Misano"><img src="/assets/img/circuits/Circuit_Misano.jpg" alt="Misano"></a>
			<p>Description du circuit</p>
			<a href="/Misano" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>

	<article>
		<h2>Circuit Monza</h2>
		<div class="metadata">Quelque chose que je pourrais mettre ici</div>
		<div class="content">
			<a href="/Monza"><img src="/assets/img/circuits/Circuit_Monza.png" alt="Monza"></a>
			<p>Description du circuit</p>
			<a href="/Monza" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>

	<article>
		<h2>Circuit Nordschleife</h2>
		<div class="metadata">Quelque chose que je pourrais mettre ici</div>
		<div class="content">
			<a href="/Nordschleife"><img src="/assets/img/circuits/Circuit_Nordschleife.png" alt="Nordschleife"></a>
			<p>Description du circuit</p>
			<a href="/Nordschleife" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>

	<article>
		<h2>Circuit Nürburgring</h2>
		<div class="metadata">Quelque chose que je pourrais mettre ici</div>
		<div class="content">
			<a href="/Nürburgring"><img src="/assets/img/circuits/Circuit_Nürburgring.png" alt="Nürburgring"></a>
			<p>Description du circuit</p>
			<a href="/Nürburgring" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>

	<article>
		<h2>Circuit Paul Ricard</h2>
		<div class="metadata">Quelque chose que je pourrais mettre ici</div>
		<div class="content">
			<a href="/Paul"><img src="/assets/img/circuits/Circuit_Paul_Ricard.png" alt="Paul Ricard"></a>
			<p>Description du circuit</p>
			<a href="/Paul" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>

	<article>
		<h2>Circuit Pescara</h2>
		<div class="metadata">Quelque chose que je pourrais mettre ici</div>
		<div class="content">
			<a href="/Pescara"><img src="/assets/img/circuits/Circuit_Pescara.jpg" alt="Pescara"></a>
			<p>Description du circuit</p>
			<a href="/Pescara" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>

	<article>
		<h2>Circuit Rouen Les Essarts</h2>
		<div class="metadata">Quelque chose que je pourrais mettre ici</div>
		<div class="content">
			<a href="/Rouen"><img src="/assets/img/circuits/Circuit_Rouen_Les_Essarts.png" alt="Rouen Les Essarts"></a>
			<p>Description du circuit</p>
			<a href="/Rouen" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>

	<article>
		<h2>Circuit Vallelunga.jpg</h2>
		<div class="metadata">Quelque chose que je pourrais mettre ici</div>
		<div class="content">
			<a href="/Vallelunga"><img src="/assets/img/circuits/Circuit_Vallelunga.jpg" alt="Vallelunga"></a>
			<p>Description du circuit</p>
			<a href="/Vallelunga" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>

{% endblock %}