{% extends 'base.html.twig' %}


{% block body %}

<main role="main" class="container">

  <div class="row">
    <div class="col-sm-6 mx-auto">
      <form class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Votre nom :</label>  
            <div class="col-md-4">
            <input id="name" name="name" type="text" placeholder="Nom" class="form-control input-md" required="">              
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="mdp">Votre mot de passe :</label>
            <div class="col-md-4">
            <input id="mdp" name="mdp" type="password" placeholder="Mot de passe" class="form-control input-md" required="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="boutton">Validation :</label>
            <div class="col-md-4">
            <button id="boutton" name="boutton" class="btn btn-success">Valider</button>
            </div>
          </div>
        </fieldset>
      </form>
    <div>
  </div>
</main>

{% endblock %}