{% extends 'base.html.twig' %}


{% block body %}

<h2>Ferrari F430 : Reine de l'asphalte. Plus que jamais.</h2>

<div class="resumeF430">

	<p><iframe src="https://www.youtube.com/embed/b96Fl08L8fs" frameborder="0" width="350" height="250"></iframe></p>
	<p>&nbsp;</p>

	<p>La F430 annonce l&rsquo;arriv&eacute;e d&rsquo;une toute nouvelle g&eacute;n&eacute;ration de berlinettes Ferrari &agrave; motorisation V8. Chaque centim&egrave;tre de ce v&eacute;hicule &eacute;tait le fruit de longues recherches d&rsquo;ing&eacute;nierie men&eacute;es par la division F1 de la Gestione Sportiva de Ferrari. Le r&eacute;sultat : un concept hautement novateur, caract&eacute;ris&eacute; par des technologies de pointe optimis&eacute;es pour un usage routier.</p>
	<p>&nbsp;</p>
	<p>Deux de ces innovations constituent des premi&egrave;res mondiales pour une voiture de s&eacute;rie : le diff&eacute;rentiel &eacute;lectronique E-Diff, initialement d&eacute;velopp&eacute; par Ferrari pour ses monoplaces de F1 et con&ccedil;u pour exploiter pleinement le couple du moteur et optimiser la traction, et le s&eacute;lecteur judicieusement dispos&eacute; sur le volant, plus connu par les pilotes de la Scuderia sous l&rsquo;appellation &laquo; manettino &raquo;, qui permet de contr&ocirc;ler directement les syst&egrave;mes r&eacute;gissant la dynamique du v&eacute;hicule.</p>
	<p>&nbsp;</p>
	
	<div class="span5">
		<p>Le moteur l&eacute;ger et compact d&eacute;veloppe 490 CV et fournit une puissance sp&eacute;cifique de 114 CV/l et un couple de 465 N.m. Il va sans dire que les performances obtenues sont tout bonnement ahurissantes : Cette voiture abat le 0 &agrave; 100 km/h en 4 secondes et sa vitesse maximale est sup&eacute;rieure &agrave; 315 km/h.</p>
		<p>&nbsp;</p>
		<p>Chaque caract&eacute;ristique de ce mod&egrave;le de la marque au cheval cabr&eacute; a &eacute;t&eacute; influenc&eacute;e par l&rsquo;univers de la Formule 1. Ainsi, un syst&egrave;me de freinage exploitant des disques CCM (carbone c&eacute;ramique) &eacute;tait install&eacute; de s&eacute;rie dans le v&eacute;hicule. Ces disques offrent un pouvoir de freinage redoutable et apportent au conducteur le sentiment rassurant d&rsquo;une parfaite ma&icirc;trise du v&eacute;hicule, m&ecirc;me dans les situations les plus exigeantes. L&rsquo;a&eacute;rodynamique de la F430 est &eacute;galement des plus novatrices pour une routi&egrave;re : sa forme a &eacute;t&eacute; optimis&eacute;e afin d&rsquo;obtenir des flux d&rsquo;air qui vont am&eacute;liorer la portance n&eacute;gative ainsi que le refroidissement. Le plus petit composant de cette Ferrari a &eacute;t&eacute; perfectionn&eacute; de fa&ccedil;on &agrave; proposer des performances stup&eacute;fiantes et un formidable plaisir de conduite.</p>
		<p>&nbsp;</p>
	</div>
</div>


{% endblock %}