{% extends 'base.html.twig' %}


{% block body %}

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h4 class="title">
                      <span>Pourquoi s'inscrire ?</span>
                    </h4>
          <p>Pour pouvoir choisir votre voiture ou le circuit sur lequel vous voulez rouler, il faut vous s'inscrire, mais ce n'est pas tout ! En vous inscrivant chez nous, vous pourrez bénéficier de nombreuses réduction sur l'ensemble de nos produits en boutique !</p>
          <p>Alors, qu'attendez-vous ? Ça ne prends que quelques minutes et le tour est joué !</p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <h4 class="title">
                      <span>Avantages</span>
                    </h4>
          <ul class="check">
            <li><a href="#">Choix multiples de voitures</a></li>
            <li><a href="#">Des réductions sur notre boutique</a></li>
            <li><a href="#">Inscription à la Newsletter </a></li>
            <li><a href="#">Soirées privées pour tenter de gagner des prix !</a></li>
          </ul>
        </div>
        <!-- end login -->

        <div class="col-lg-4 col-md-4 col-sm-12">
          <h4 class="title">
                      <span>Je m'enregistre</span>
                    </h4>
          <form id="registerform" method="post" name="registerform" action="">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Prénom">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nom">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Mot de passe">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Confirmez votre mot de passe">
            </div>
            <div class="form-group">
              <input type="submit" class="button" value="Je créer mon compte">
             <a href="/connexion">Vous avez déjà un compte ?</a>
            </div>
          </form>
        </div>
        <!-- end register -->
      </div>
      <!-- end content -->
    </div>
    <!-- end container -->
  </section>
      </div>
    <div>
{% endblock %}