{% extends 'base.html.twig' %}


{% block body %}

<h3>Les modèles Lamborghini que nous vous proposont : </h3>
	
	<ul>
		<li><span><iframe width="350" height="250" src="https://www.youtube.com/embed/-Ag2Xp6F0wU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></li>Lamborghini Huracan GT3<br /></span></li>
		<li>Lamborghini Huracan : la plus puissante des Lamborghini de série.</li><iframe width="350" height="250" src="https://www.youtube.com/embed/eJnWPhSQjPs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<li>Lamborghini Aventador : toujours plus de perfomances et d'éfficacité.</li><iframe width="350" height="250" src="https://www.youtube.com/embed/vEvBbNe3rqU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<li>Lamborghini Gallardo GT3 : un plaisir de conduire et une précision absolue.</li><iframe width="350" height="250" src="https://www.youtube.com/embed/9fhjOBdoVck" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<li>Lamborghini Gallardo : Une voiture de course conçue aussi pour la route.</li><iframe width="350" height="250" src="https://www.youtube.com/embed/u1S3m7b59EQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<li>Lamborghini Murciélago : authentique et extrême.</li><iframe width="350" height="250" src="https://www.youtube.com/embed/-kL3BQIgzbo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</ul>

{% endblock %}