{% extends 'base.html.twig' %}


{% block body %}

<h3>Les modèles Masérati que nous vous proposont : </h3>
	
	<ul>
		<li>Masérati Granturismo MC : Une italienne au caractère bien trempé !</li><iframe width="350" height="250" src="https://www.youtube.com/embed/R8XzW92Q-js" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<li>Masérati MC12 : La plus puissante des Masérati !</li><iframe width="350" height="250" src="https://www.youtube.com/embed/r-aUPAFyP78" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</ul>

{% endblock %}