{% extends 'base.html.twig' %}


{% block body %}

<h3>Les modèles Pagani que nous vous proposont : </h3>

	<ul>
		<li>Pagani Huayra : La Pagani la plus puissante produite à ce jour.</li><iframe width="350" height="250" src="https://www.youtube.com/embed/PfjcgcOfgww" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<li>Pagani Zonda Revolucion : Une musique à vos oreilles, un régal pour vos yeux !</li><iframe width="350" height="250" src="https://www.youtube.com/embed/JYOundkNxGE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</ul>

{% endblock %}