<h3>Les modèles Ferrari que nous vous proposont : </h3>
	<ul>
		<li>Ferrari F40 : le porte-drapeau de toute une marque</li><iframe width="350" height="250" src="https://www.youtube.com/embed/j66xp4U3BNY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<li>Ferrari F430 : Reine de l'asphalte. Plus que jamais.</li><iframe width="350" height="250" src="https://www.youtube.com/embed/b96Fl08L8fs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<li>Ferrari FXXK (1050ch) : la première hybride de Maranello !</li><iframe width="350" height="250" src="https://www.youtube.com/embed/3SnsyPANzew" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<li>Ferrari F187 : La célèbre Formule 1 de Gérard Berger</li><iframe width="350" height="250" src="https://www.youtube.com/embed/VhnEyrf3JUg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<li>Ferrari F138 : Une des plus belles Formule 1 qui existent !</li><iframe width="350" height="250" src="https://www.youtube.com/embed/3nlWni-2UkY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<li>Ferrari LaFerrari : La Ferrari ultime</li><iframe width="350" height="250" src="https://www.youtube.com/embed/iRsV6YpLsKA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</ul>



<h3>Les modèles Lamborghini que nous vous proposont : </h3>
		<ul>
		<li><span><iframe width="350" height="250" src="https://www.youtube.com/embed/-Ag2Xp6F0wU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></li>Lamborghini Huracan GT3<br /></span></li>
		<li>Lamborghini Huracan : la plus puissante des Lamborghini de série.</li><iframe width="350" height="250" src="https://www.youtube.com/embed/eJnWPhSQjPs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<li>Lamborghini Aventador : toujours plus de perfomances et d'éfficacité.</li><iframe width="350" height="250" src="https://www.youtube.com/embed/vEvBbNe3rqU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<li>Lamborghini Gallardo GT3 : un plaisir de conduire et une précision absolue.</li><iframe width="350" height="250" src="https://www.youtube.com/embed/9fhjOBdoVck" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<li>Lamborghini Gallardo : Une voiture de course conçue aussi pour la route.</li><iframe width="350" height="250" src="https://www.youtube.com/embed/u1S3m7b59EQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<li>Lamborghini Murciélago : authentique et extrême.</li><iframe width="350" height="250" src="https://www.youtube.com/embed/-kL3BQIgzbo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</ul>


<h3>Les modèles Masérati que nous vous proposont : </h3>
	
	<ul>
		<li>Masérati Granturismo MC : Une italienne au caractère bien trempé !</li><iframe width="350" height="250" src="https://www.youtube.com/embed/R8XzW92Q-js" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<li>Masérati MC12 : La plus puissante des Masérati !</li><iframe width="350" height="250" src="https://www.youtube.com/embed/r-aUPAFyP78" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</ul>

	
<h3>Les modèles Pagani que nous vous proposont : </h3>

	<ul>
		<li>Pagani Huayra : La Pagani la plus puissante produite à ce jour.</li><iframe width="350" height="250" src="https://www.youtube.com/embed/PfjcgcOfgww" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<li>Pagani Zonda Revolucion : Une musique à vos oreilles, un régal pour vos yeux !</li><iframe width="350" height="250" src="https://www.youtube.com/embed/JYOundkNxGE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</ul>